.btn-wrapper {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
  }
  .btn {
    border: none;
    border-radius: 20px;
    min-width: 120px;
    padding: 7px;
    color: #fff;
    font-size: 14px;
    background-color: #000000;
    cursor: pointer;
  }

  .focus-color{

    background-color: blue;

  }

  .btn:active,
  .btn:focus {
    outline: none;
  }

  .them-buttons {
    margin: 25px;
    padding: 25px;
    display: flex;
    justify-content: center;
  }

.them-button {
  border: none;
  border-radius: 20px;
  min-width: 120px;
  padding: 7px;
  color: #fff;
  background-color: #000000;
  cursor: pointer;
}